.slider{
    margin: 60px auto;
    width: 60%;
    height: 30vw; 
    min-height: 350px;
    max-height: 400px;
}
.slider img{
    height: 30vw; 
    min-height: 350px;
    max-height: 400px;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}